.hero-image{
    background-image:  url("hero-1.jpg");

  /* Set a specific height */
  height: 50%;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  /* background-position: top center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}